<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.H_left</key>
	<array>
		<string>H'</string>
		<string>DZcaron</string>
		<string>Dzcaron</string>
		<string>uni01C7</string>
		<string>uni01C8</string>
		<string>uni01CA</string>
		<string>uni01CB</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Hbar</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idot</string>
		<string>IJ</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Eng</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>uni0206</string>
		<string>uni0208</string>
		<string>uni020A</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>.H_right</key>
	<array>
		<string>H'</string>
		<string>I</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Hbar</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idot</string>
		<string>IJ</string>
		<string>Jcircumflex</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Eng</string>
		<string>uni0208</string>
		<string>uni020A</string>
	</array>
	<key>.O_left</key>
	<array>
		<string>O'</string>
		<string>Gcedilla</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Cacute</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>OE</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>.O_right</key>
	<array>
		<string>O'</string>
		<string>D</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>.n_left</key>
	<array>
		<string>n'</string>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
		<string>ntilde</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>eng</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>.n_right</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
		<string>hbar</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>eng</string>
	</array>
	<key>.o_left</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>e</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>eth</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>cacute</string>
		<string>cdotaccent</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>dslash</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>oe</string>
		<string>uni0205</string>
		<string>uni0207</string>
		<string>uni020D</string>
		<string>uni020F</string>
		<string>c_k</string>
	</array>
	<key>.o_right</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
</dict>
</plist>
